In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:

df = pd.read_csv('data.csv')

In [3]:
df.head()

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1

In [4]:
df.isnull().sum()

URLs         0
Headline     0
Body        21
Label        0
dtype: int64

In [5]:
df = df.dropna(subset=['Body'])

In [6]:
df.isnull().sum()

URLs        0
Headline    0
Body        0
Label       0
dtype: int64

In [7]:
df.head()

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1

In [8]:
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
X = df[['URLs', 'Headline', 'Body']]  
y = df['Label']  
le = LabelEncoder()
X_encoded = X.copy()
for col in ['URLs', 'Headline', 'Body']:
    X_encoded[col] = le.fit_transform(X[col])
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.8, random_state=42)

model = DecisionTreeClassifier()
pipeline = Pipeline(steps=[
    ('model', model)
])
pipeline.fit(X_train, y_train)
y_pred_train = pipeline.predict(X_train)
y_pred_test = pipeline.predict(X_test)
train_accuracy = accuracy_score(y_train, y_pred_train)
test_accuracy = accuracy_score(y_test, y_pred_test)
train_precision = precision_score(y_train, y_pred_train)
test_precision = precision_score(y_test, y_pred_test)
train_recall = recall_score(y_train, y_pred_train)
test_recall = recall_score(y_test, y_pred_test)
print("Accuracy score for training data:", train_accuracy)
print("Accuracy score for testing data:", test_accuracy)
print("Precision score for training data:", train_precision)
print("Precision score for testing data:", test_precision)
print("Recall score for training data:", train_recall)
print("Recall score for testing data:", test_recall)

Accuracy score for training data: 1.0
Accuracy score for testing data: 0.9968661861485427
Precision score for training data: 1.0
Precision score for testing data: 0.9986568166554735
Recall score for training data: 1.0
Recall score for testing data: 0.9946488294314382

In [9]:
joblib_file = "DTFN.pkl"
joblib.dump(pipeline, joblib_file)

NameError: name 'joblib' is not defined